<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebStore</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/components-font-awesome/css/font-awesome.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" 
                  asp-fallback-href="~/lib/components-font-awesome/css/font-awesome.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">WebStore</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content" ng-app="personApp">
            @RenderBody()
            <hr />

        </div>
        <div class="socialFooter">
            <footer class="container">
                <div class="col-md-4">
                    <h3>Follow us</h3>
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-facebook-official"></i>
                        </span>
                        Facebook
                    </a><br />
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-twitter"></i>
                        </span>
                        Twitter
                    </a><br />
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-instagram"></i>
                        </span>
                        instagram
                    </a><br />
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-google-plus"></i>
                        </span>
                        Google+
                    </a><br />
                </div>
                
                <div class="col-md-4">
                    <h3>Need more info?</h3>

                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-question"></i>
                        </span>
                        FAQ section
                    </a><br />
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-tree"></i>
                        </span>
                        Environmental policy
                    </a><br />
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-cart-arrow-down"></i>
                        </span>
                        Brochures
                    </a><br />
                    <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-legal"></i>
                        </span>
                        Terms and conditions
                    </a><br />
                </div>
                <div class="col-md-4">
                    <h3>Get in touch</h3>
                    <span>Company name</span><br/>
                    <span><i class="fa fa-home"></i> Address 123 </span><br />
                    <span>P0X50 Location</span><br />
                    <span><a href="#"><i class="fa fa-map"></i> Map</a></span><br/>
                    <br/>
                    <span><i class="fa fa-phone"></i> +354 555 5555</span><br />
                    <span><i class="fa fa-envelope"></i> user@domain.is</span><br />
                </div>
            </footer>
        </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-route/angular-route.js"></script>
            <script src="~/js/site.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
                    asp-fallback-src="~/lib/angular/angular.min.js"
                    asp-fallback-test="window.angular">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
